NET "clk" LOC = "E3" | IOSTANDARD = LVCMOS33;
NET "rst" LOC = "N17" | IOSTANDARD = LVCMOS33;

NET "sw<0>" LOC = "J15" | IOSTANDARD = LVCMOS33;
NET "sw<1>" LOC = "L16" | IOSTANDARD = LVCMOS33;
NET "sw<2>" LOC = "M13" | IOSTANDARD = LVCMOS33;
NET "sw<3>" LOC = "R15" | IOSTANDARD = LVCMOS33;
NET "sw<4>" LOC = "R17" | IOSTANDARD = LVCMOS33;
NET "sw<5>" LOC = "T18" | IOSTANDARD = LVCMOS33;
NET "sw<6>" LOC = "U18" | IOSTANDARD = LVCMOS33;
NET "sw<7>" LOC = "R13" | IOSTANDARD = LVCMOS33;

NET "led<0>" LOC = "H17" | IOSTANDARD = LVCMOS33;
NET "led<1>" LOC = "K15" | IOSTANDARD = LVCMOS33;
NET "led<2>" LOC = "J13" | IOSTANDARD = LVCMOS33;
NET "led<3>" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "led<4>" LOC = "R18" | IOSTANDARD = LVCMOS33;
NET "led<5>" LOC = "V17" | IOSTANDARD = LVCMOS33;
NET "led<6>" LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "led<7>" LOC = "U16" | IOSTANDARD = LVCMOS33;

NET "push_button<0>" LOC = "P18" | IOSTANDARD = LVCMOS33;
NET "push_button<1>" LOC = "P17" | IOSTANDARD = LVCMOS33;
NET "push_button<2>" LOC = "M17" | IOSTANDARD = LVCMOS33;

NET "hsync" LOC = "B11" | IOSTANDARD = LVCMOS33;
NET "vsync" LOC = "B12" | IOSTANDARD = LVCMOS33;

NET "rgb<11>" LOC = "A3" | IOSTANDARD = LVCMOS33;
NET "rgb<10>" LOC = "B4" | IOSTANDARD = LVCMOS33;
NET "rgb<9>" LOC = "C5" | IOSTANDARD = LVCMOS33;
NET "rgb<8>" LOC = "A4" | IOSTANDARD = LVCMOS33;
NET "rgb<7>" LOC = "C6" | IOSTANDARD = LVCMOS33;
NET "rgb<6>" LOC = "A5" | IOSTANDARD = LVCMOS33;
NET "rgb<5>" LOC = "B6" | IOSTANDARD = LVCMOS33;
NET "rgb<4>" LOC = "A6" | IOSTANDARD = LVCMOS33;
NET "rgb<3>" LOC = "B7" | IOSTANDARD = LVCMOS33;
NET "rgb<2>" LOC = "C7" | IOSTANDARD = LVCMOS33;
NET "rgb<1>" LOC = "D7" | IOSTANDARD = LVCMOS33;
NET "rgb<0>" LOC = "D8" | IOSTANDARD = LVCMOS33;